### まずは全体の流れを把握する

In [23]:
import numpy as np
import pandas as pd

### -----------------------------------
### 学習データ、テストデータの読み込み
### -----------------------------------

In [24]:
# 学習データ、テストデータの読み込み
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')
# 学習データを特徴量と目的変数に分ける
train_x = train.drop(['Survived'], axis=1)
train_y = train['Survived']
print(train_x)
print(train_y)
test_x = test.copy()

     PassengerId  Pclass                                               Name  \
0              1       3                            Braund, Mr. Owen Harris
1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3       3                             Heikkinen, Miss. Laina
3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5       3                           Allen, Mr. William Henry
5              6       3                                   Moran, Mr. James
6              7       1                            McCarthy, Mr. Timothy J
7              8       3                     Palsson, Master. Gosta Leonard
8              9       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9             10       2                Nasser, Mrs. Nicholas (Adele Achem)
10            11       3                    Sandstrom, Miss. Marguerite Rut
11            12       1                           Bonnell, Miss. Elizabeth
12            13       3                     Saundercock, Mr. William Henry
13            14       3                        Andersson, Mr. Anders Johan
14            15       3               Vestrom, Miss. Hulda Amanda Adolfina
15            16       2                   Hewlett, Mrs. (Mary D Kingcome)
16            17       3                               Rice, Master. Eugene
17            18       2                       Williams, Mr. Charles Eugene
18            19       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19            20       3                            Masselmani, Mrs. Fatima
20            21       2                               Fynney, Mr. Joseph J
21            22       2                              Beesley, Mr. Lawrence
22            23       3                        McGowan, Miss. Anna "Annie"
23            24       1                       Sloper, Mr. William Thompson
24            25       3                      Palsson, Miss. Torborg Danira
25            26       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26            27       3                            Emir, Mr. Farred Chehab
27            28       1                     Fortune, Mr. Charles Alexander
28            29       3                      O'Dwyer, Miss. Ellen "Nellie"
29            30       3                                Todoroff, Mr. Lalio
..           ...     ...                                                ...
861          862       2                        Giles, Mr. Frederick Edward
862          863       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863          864       3                  Sage, Miss. Dorothy Edith "Dolly"
864          865       2                             Gill, Mr. John William
865          866       2                           Bystrom, Mrs. (Karolina)
866          867       2                       Duran y More, Miss. Asuncion
867          868       1               Roebling, Mr. Washington Augustus II
868          869       3                        van Melkebeke, Mr. Philemon
869          870       3                    Johnson, Master. Harold Theodor
870          871       3                                  Balkic, Mr. Cerin
871          872       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872          873       1                           Carlsson, Mr. Frans Olof
873          874       3                        Vander Cruyssen, Mr. Victor
874          875       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875          876       3                   Najib, Miss. Adele Kiamie "Jane"
876          877       3                      Gustafsson, Mr. Alfred Ossian
877          878       3                               Petroff, Mr. Nedelio
878          879       3                                 Laleff, Mr. Kristo
879          880       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880          881       2       Shelley, Mrs. William (Imanita Parrish Hall)
881          882       3                                 Markun, Mr. Johann
882          883       3                       Dahlberg, Miss. Gerda Ulrika
883          884       2                      Banfield, Mr. Frederick James
884          885       3                             Sutehall, Mr. Henry Jr
885          886       3               Rice, Mrs. William (Margaret Norton)
886          887       2                              Montvila, Rev. Juozas
887          888       1                       Graham, Miss. Margaret Edith
888          889       3           Johnston, Miss. Catherine Helen "Carrie"
889          890       1                              Behr, Mr. Karl Howell
890          891       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket      Fare        Cabin  \
0      male  22.0      1      0         A/5 21171    7.2500          NaN
1    female  38.0      1      0          PC 17599   71.2833          C85
2    female  26.0      0      0  STON/O2. 3101282    7.9250          NaN
3    female  35.0      1      0            113803   53.1000         C123
4      male  35.0      0      0            373450    8.0500          NaN
5      male   NaN      0      0            330877    8.4583          NaN
6      male  54.0      0      0             17463   51.8625          E46
7      male   2.0      3      1            349909   21.0750          NaN
8    female  27.0      0      2            347742   11.1333          NaN
9    female  14.0      1      0            237736   30.0708          NaN
10   female   4.0      1      1           PP 9549   16.7000           G6
11   female  58.0      0      0            113783   26.5500         C103
12     male  20.0      0      0         A/5. 2151    8.0500          NaN
13     male  39.0      1      5            347082   31.2750          NaN
14   female  14.0      0      0            350406    7.8542          NaN
15   female  55.0      0      0            248706   16.0000          NaN
16     male   2.0      4      1            382652   29.1250          NaN
17     male   NaN      0      0            244373   13.0000          NaN
18   female  31.0      1      0            345763   18.0000          NaN
19   female   NaN      0      0              2649    7.2250          NaN
20     male  35.0      0      0            239865   26.0000          NaN
21     male  34.0      0      0            248698   13.0000          D56
22   female  15.0      0      0            330923    8.0292          NaN
23     male  28.0      0      0            113788   35.5000           A6
24   female   8.0      3      1            349909   21.0750          NaN
25   female  38.0      1      5            347077   31.3875          NaN
26     male   NaN      0      0              2631    7.2250          NaN
27     male  19.0      3      2             19950  263.0000  C23 C25 C27
28   female   NaN      0      0            330959    7.8792          NaN
29     male   NaN      0      0            349216    7.8958          NaN
..      ...   ...    ...    ...               ...       ...          ...
861    male  21.0      1      0             28134   11.5000          NaN
862  female  48.0      0      0             17466   25.9292          D17
863  female   NaN      8      2          CA. 2343   69.5500          NaN
864    male  24.0      0      0            233866   13.0000          NaN
865  female  42.0      0      0            236852   13.0000          NaN
866  female  27.0      1      0     SC/PARIS 2149   13.8583          NaN
867    male  31.0      0      0          PC 17590   50.4958          A24
868    male   NaN      0      0            345777    9.5000          NaN
869    male   4.0      1      1            347742   11.1333          NaN
870    male  26.0      0      0            349248    7.8958          NaN
871  female  47.0      1      1             11751   52.5542          D35
872    male  33.0      0      0               695    5.0000  B51 B53 B55
873    male  47.0      0      0            345765    9.0000          NaN
874  female  28.0      1      0         P/PP 3381   24.0000          NaN
875  female  15.0      0      0              2667    7.2250          NaN
876    male  20.0      0      0              7534    9.8458          NaN
877    male  19.0      0      0            349212    7.8958          NaN
878    male   NaN      0      0            349217    7.8958          NaN
879  female  56.0      0      1             11767   83.1583          C50
880  female  25.0      0      1            230433   26.0000          NaN
881    male  33.0      0      0            349257    7.8958          NaN
882  female  22.0      0      0              7552   10.5167          NaN
883    male  28.0      0      0  C.A./SOTON 34068   10.5000          NaN
884    male  25.0      0      0   SOTON/OQ 392076    7.0500          NaN
885  female  39.0      0      5            382652   29.1250          NaN
886    male  27.0      0      0            211536   13.0000          NaN
887  female  19.0      0      0            112053   30.0000          B42
888  female   NaN      1      2        W./C. 6607   23.4500          NaN
889    male  26.0      0      0            111369   30.0000         C148
890    male  32.0      0      0            370376    7.7500          NaN

    Embarked
0          S
1          C
2          S
3          S
4          S
5          Q
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
17         S
18         S
19         C
20         S
21         S
22         Q
23         S
24         S
25         S
26         C
27         S
28         Q
29         S
..       ...
861        S
862        S
863        S
864        S
865        S
866        C
867        S
868        S
869        S
870        S
871        S
872        S
873        S
874        C
875        C
876        S
877        S
878        S
879        C
880        S
881        S
882        S
883        S
884        S
885        Q
886        S
887        S
888        S
889        C
890        Q

[891 rows x 11 columns]
0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

### -----------------------------------
### 特徴量作成
### -----------------------------------

In [25]:
from sklearn.preprocessing import LabelEncoder

# 変数PassengerIdを除外する
train_x = train_x.drop(['PassengerId'], axis=1)
test_x = test_x.drop(['PassengerId'], axis=1)

# 変数Name, Ticket, Cabinを除外する
train_x = train_x.drop(['Name', 'Ticket', 'Cabin'], axis=1)
test_x = test_x.drop(['Name', 'Ticket', 'Cabin'], axis=1)

print(train_x)

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  22.0      1      0    7.2500        S
1         1  female  38.0      1      0   71.2833        C
2         3  female  26.0      0      0    7.9250        S
3         1  female  35.0      1      0   53.1000        S
4         3    male  35.0      0      0    8.0500        S
5         3    male   NaN      0      0    8.4583        Q
6         1    male  54.0      0      0   51.8625        S
7         3    male   2.0      3      1   21.0750        S
8         3  female  27.0      0      2   11.1333        S
9         2  female  14.0      1      0   30.0708        C
10        3  female   4.0      1      1   16.7000        S
11        1  female  58.0      0      0   26.5500        S
12        3    male  20.0      0      0    8.0500        S
13        3    male  39.0      1      5   31.2750        S
14        3  female  14.0      0      0    7.8542        S
15        2  female  55.0      0      0   16.0000        S
16        3    male   2.0      4      1   29.1250        Q
17        2    male   NaN      0      0   13.0000        S
18        3  female  31.0      1      0   18.0000        S
19        3  female   NaN      0      0    7.2250        C
20        2    male  35.0      0      0   26.0000        S
21        2    male  34.0      0      0   13.0000        S
22        3  female  15.0      0      0    8.0292        Q
23        1    male  28.0      0      0   35.5000        S
24        3  female   8.0      3      1   21.0750        S
25        3  female  38.0      1      5   31.3875        S
26        3    male   NaN      0      0    7.2250        C
27        1    male  19.0      3      2  263.0000        S
28        3  female   NaN      0      0    7.8792        Q
29        3    male   NaN      0      0    7.8958        S
..      ...     ...   ...    ...    ...       ...      ...
861       2    male  21.0      1      0   11.5000        S
862       1  female  48.0      0      0   25.9292        S
863       3  female   NaN      8      2   69.5500        S
864       2    male  24.0      0      0   13.0000        S
865       2  female  42.0      0      0   13.0000        S
866       2  female  27.0      1      0   13.8583        C
867       1    male  31.0      0      0   50.4958        S
868       3    male   NaN      0      0    9.5000        S
869       3    male   4.0      1      1   11.1333        S
870       3    male  26.0      0      0    7.8958        S
871       1  female  47.0      1      1   52.5542        S
872       1    male  33.0      0      0    5.0000        S
873       3    male  47.0      0      0    9.0000        S
874       2  female  28.0      1      0   24.0000        C
875       3  female  15.0      0      0    7.2250        C
876       3    male  20.0      0      0    9.8458        S
877       3    male  19.0      0      0    7.8958        S
878       3    male   NaN      0      0    7.8958        S
879       1  female  56.0      0      1   83.1583        C
880       2  female  25.0      0      1   26.0000        S
881       3    male  33.0      0      0    7.8958        S
882       3  female  22.0      0      0   10.5167        S
883       2    male  28.0      0      0   10.5000        S
884       3    male  25.0      0      0    7.0500        S
885       3  female  39.0      0      5   29.1250        Q
886       2    male  27.0      0      0   13.0000        S
887       1  female  19.0      0      0   30.0000        S
888       3  female   NaN      1      2   23.4500        S
889       1    male  26.0      0      0   30.0000        C
890       3    male  32.0      0      0    7.7500        Q

[891 rows x 7 columns]

In [26]:
# それぞれのカテゴリ変数にlabel encodingを適用する
for c in ['Sex', 'Embarked']:
    # 学習データに基づいてどう変換するかを定める
    le = LabelEncoder()
    le.fit(train_x[c].fillna('NA'))

    # 学習データ、テストデータを変換する
    train_x[c] = le.transform(train_x[c].fillna('NA'))
    test_x[c] = le.transform(test_x[c].fillna('NA'))

print(train_x)

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    1  22.0      1      0    7.2500         3
1         1    0  38.0      1      0   71.2833         0
2         3    0  26.0      0      0    7.9250         3
3         1    0  35.0      1      0   53.1000         3
4         3    1  35.0      0      0    8.0500         3
5         3    1   NaN      0      0    8.4583         2
6         1    1  54.0      0      0   51.8625         3
7         3    1   2.0      3      1   21.0750         3
8         3    0  27.0      0      2   11.1333         3
9         2    0  14.0      1      0   30.0708         0
10        3    0   4.0      1      1   16.7000         3
11        1    0  58.0      0      0   26.5500         3
12        3    1  20.0      0      0    8.0500         3
13        3    1  39.0      1      5   31.2750         3
14        3    0  14.0      0      0    7.8542         3
15        2    0  55.0      0      0   16.0000         3
16        3    1   2.0      4      1   29.1250         2
17        2    1   NaN      0      0   13.0000         3
18        3    0  31.0      1      0   18.0000         3
19        3    0   NaN      0      0    7.2250         0
20        2    1  35.0      0      0   26.0000         3
21        2    1  34.0      0      0   13.0000         3
22        3    0  15.0      0      0    8.0292         2
23        1    1  28.0      0      0   35.5000         3
24        3    0   8.0      3      1   21.0750         3
25        3    0  38.0      1      5   31.3875         3
26        3    1   NaN      0      0    7.2250         0
27        1    1  19.0      3      2  263.0000         3
28        3    0   NaN      0      0    7.8792         2
29        3    1   NaN      0      0    7.8958         3
..      ...  ...   ...    ...    ...       ...       ...
861       2    1  21.0      1      0   11.5000         3
862       1    0  48.0      0      0   25.9292         3
863       3    0   NaN      8      2   69.5500         3
864       2    1  24.0      0      0   13.0000         3
865       2    0  42.0      0      0   13.0000         3
866       2    0  27.0      1      0   13.8583         0
867       1    1  31.0      0      0   50.4958         3
868       3    1   NaN      0      0    9.5000         3
869       3    1   4.0      1      1   11.1333         3
870       3    1  26.0      0      0    7.8958         3
871       1    0  47.0      1      1   52.5542         3
872       1    1  33.0      0      0    5.0000         3
873       3    1  47.0      0      0    9.0000         3
874       2    0  28.0      1      0   24.0000         0
875       3    0  15.0      0      0    7.2250         0
876       3    1  20.0      0      0    9.8458         3
877       3    1  19.0      0      0    7.8958         3
878       3    1   NaN      0      0    7.8958         3
879       1    0  56.0      0      1   83.1583         0
880       2    0  25.0      0      1   26.0000         3
881       3    1  33.0      0      0    7.8958         3
882       3    0  22.0      0      0   10.5167         3
883       2    1  28.0      0      0   10.5000         3
884       3    1  25.0      0      0    7.0500         3
885       3    0  39.0      0      5   29.1250         2
886       2    1  27.0      0      0   13.0000         3
887       1    0  19.0      0      0   30.0000         3
888       3    0   NaN      1      2   23.4500         3
889       1    1  26.0      0      0   30.0000         0
890       3    1  32.0      0      0    7.7500         2

[891 rows x 7 columns]

### -----------------------------------
### モデル作成
### -----------------------------------

In [27]:
from xgboost import XGBClassifier

# モデルの作成および学習データを与えての学習
model = XGBClassifier(n_estimators=20, random_state=71)
model.fit(train_x, train_y)

# テストデータの予測値を確率で出力する
pred = model.predict_proba(test_x)[:, 1]

# テストデータの予測値を二値に変換する
pred_label = np.where(pred > 0.5, 1, 0)

# 提出用ファイルの作成
submission = pd.DataFrame({'PassengerId': test['PassengerId'], 'Survived': pred_label})
submission.to_csv('submission_first.csv', index=False)
print(submission)
# スコア：0.7799（本書中の数値と異なる可能性があります）

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

### -----------------------------------
### バリデーション
### -----------------------------------

In [28]:
from sklearn.metrics import log_loss, accuracy_score
from sklearn.model_selection import KFold

# 各foldのスコアを保存するリスト
scores_accuracy = []
scores_logloss = []

# クロスバリデーションを行う
# 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx in kf.split(train_x):
    # 学習データを学習データとバリデーションデータに分ける
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

    # モデルの学習を行う
    model = XGBClassifier(n_estimators=20, random_state=71)
    model.fit(tr_x, tr_y)

    # バリデーションデータの予測値を確率で出力する
    va_pred = model.predict_proba(va_x)[:, 1]

    # バリデーションデータでのスコアを計算する
    logloss = log_loss(va_y, va_pred)
    accuracy = accuracy_score(va_y, va_pred > 0.5)

    # そのfoldのスコアを保存する
    scores_logloss.append(logloss)
    scores_accuracy.append(accuracy)

# 各foldのスコアの平均を出力する
logloss = np.mean(scores_logloss)
accuracy = np.mean(scores_accuracy)
print(f'logloss: {logloss:.4f}, accuracy: {accuracy:.4f}')
# logloss: 0.4270, accuracy: 0.8148（本書中の数値と異なる可能性があります）

logloss: 0.4270, accuracy: 0.8148

### -----------------------------------
### モデルチューニング
### -----------------------------------

In [29]:
import itertools

# チューニング候補とするパラメータを準備する
param_space = {
    'max_depth': [3, 5, 7],
    'min_child_weight': [1.0, 2.0, 4.0]
}

# 探索するハイパーパラメータの組み合わせ
param_combinations = itertools.product(param_space['max_depth'], param_space['min_child_weight'])

# 各パラメータの組み合わせ、それに対するスコアを保存するリスト
params = []
scores = []

# 各パラメータの組み合わせごとに、クロスバリデーションで評価を行う
for max_depth, min_child_weight in param_combinations:

    score_folds = []
    # クロスバリデーションを行う
    # 学習データを4つに分割し、うち1つをバリデーションデータとすることを、バリデーションデータを変えて繰り返す
    kf = KFold(n_splits=4, shuffle=True, random_state=123456)
    for tr_idx, va_idx in kf.split(train_x):
        # 学習データを学習データとバリデーションデータに分ける
        tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
        tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

        # モデルの学習を行う
        model = XGBClassifier(n_estimators=20, random_state=71,
                              max_depth=max_depth, min_child_weight=min_child_weight)
        model.fit(tr_x, tr_y)

        # バリデーションデータでのスコアを計算し、保存する
        va_pred = model.predict_proba(va_x)[:, 1]
        logloss = log_loss(va_y, va_pred)
        score_folds.append(logloss)

    # 各foldのスコアを平均する
    score_mean = np.mean(score_folds)

    # パラメータの組み合わせ、それに対するスコアを保存する
    params.append((max_depth, min_child_weight))
    scores.append(score_mean)

# 最もスコアが良いものをベストなパラメータとする
best_idx = np.argsort(scores)[0]
best_param = params[best_idx]
print(f'max_depth: {best_param[0]}, min_child_weight: {best_param[1]}')
# max_depth=7, min_child_weight=2.0のスコアが最もよかった

max_depth: 7, min_child_weight: 2.0

### -----------------------------------
### ロジスティック回帰用の特徴量の作成
### -----------------------------------

In [30]:
from sklearn.preprocessing import OneHotEncoder

# 元データをコピーする
train_x2 = train.drop(['Survived'], axis=1)
test_x2 = test.copy()

# 変数PassengerIdを除外する
train_x2 = train_x2.drop(['PassengerId'], axis=1)
test_x2 = test_x2.drop(['PassengerId'], axis=1)

# 変数Name, Ticket, Cabinを除外する
train_x2 = train_x2.drop(['Name', 'Ticket', 'Cabin'], axis=1)
test_x2 = test_x2.drop(['Name', 'Ticket', 'Cabin'], axis=1)

# one-hot encodingを行う
cat_cols = ['Sex', 'Embarked', 'Pclass']
ohe = OneHotEncoder(categories='auto', sparse=False)
ohe.fit(train_x2[cat_cols].fillna('NA'))

# one-hot encodingのダミー変数の列名を作成する
ohe_columns = []
for i, c in enumerate(cat_cols):
    ohe_columns += [f'{c}_{v}' for v in ohe.categories_[i]]

# one-hot encodingによる変換を行う
ohe_train_x2 = pd.DataFrame(ohe.transform(train_x2[cat_cols].fillna('NA')), columns=ohe_columns)
ohe_test_x2 = pd.DataFrame(ohe.transform(test_x2[cat_cols].fillna('NA')), columns=ohe_columns)

# one-hot encoding済みの変数を除外する
train_x2 = train_x2.drop(cat_cols, axis=1)
test_x2 = test_x2.drop(cat_cols, axis=1)

# one-hot encodingで変換された変数を結合する
train_x2 = pd.concat([train_x2, ohe_train_x2], axis=1)
test_x2 = pd.concat([test_x2, ohe_test_x2], axis=1)

# 数値変数の欠損値を学習データの平均で埋める
num_cols = ['Age', 'SibSp', 'Parch', 'Fare']
for col in num_cols:
    train_x2[col].fillna(train_x2[col].mean(), inplace=True)
    test_x2[col].fillna(train_x2[col].mean(), inplace=True)

# 変数Fareを対数変換する
train_x2['Fare'] = np.log1p(train_x2['Fare'])
test_x2['Fare'] = np.log1p(test_x2['Fare'])

### -----------------------------------
### アンサンブル
### -----------------------------------

In [31]:
from sklearn.linear_model import LogisticRegression

# xgboostモデル
model_xgb = XGBClassifier(n_estimators=20, random_state=71)
model_xgb.fit(train_x, train_y)
pred_xgb = model_xgb.predict_proba(test_x)[:, 1]

# ロジスティック回帰モデル
# xgboostモデルとは異なる特徴量を入れる必要があるので、別途train_x2, test_x2を作成した
model_lr = LogisticRegression(solver='lbfgs', max_iter=300)
model_lr.fit(train_x2, train_y)
pred_lr = model_lr.predict_proba(test_x2)[:, 1]

# 予測値の加重平均をとる
pred = pred_xgb * 0.8 + pred_lr * 0.2
pred_label = np.where(pred > 0.5, 1, 0)